<div mat-dialog-title>
    <h4 style="margin:0 0 8px 0;display: flex;justify-content: center;color: #00796b">Thay đổi mật khẩu</h4>
  </div>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="form">
      <mat-form-field style="width:100%">
        <input  matInput placeholder="Nhập mật khẩu cũ" formControlName="oldPassword">
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input type="password" matInput placeholder="Nhập mật khẩu mới" formControlName="newPassword">
      </mat-form-field>
      <mat-form-field style="width:100%">
        <input type="password" matInput placeholder="Nhập lại mật khẩu mới" formControlName="retypePassword">
      </mat-form-field>
    </form>
  
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: flex-end; margin-top:0.5em">
    <button mat-raised-button (click)="onCancel()">Hủy</button>
    <button mat-raised-button (click)="onSubmit()" color="primary" [disabled] = "form.invalid">Thay đổi</button>
  </div>
  