<mat-toolbar style="background-color: #FFFFFF" class="mat-elevation-z4">
  <mat-toolbar-row>
    <div fxFlex="2%">
    </div>
    <button mat-icon-button color="primary" (click)="onOpenMenu()">
      <mat-icon svgIcon="menu" color="primary"></mat-icon>
    </button>
    <mat-card-title style="color: #128474;margin-left: 1em">The Library - GST</mat-card-title>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button color="primary" (click)="profile()" *ngIf = "hasLogin()">
      <mat-icon svgIcon="account-circle" color="primary"></mat-icon>
    </button>
    <button mat-raised-button (click)="openLogin()" color="primary" *ngIf = "!hasLogin()">Đăng nhập</button>
  </mat-toolbar-row>
  <div class="profile" *ngIf = "hasLogin() && openProfile">
    <ul>
      <li>Đổi mật khẩu</li>
      <hr>
      <li (click) ="personal()">Hồ sơ cá nhân</li>
      <hr>
      <li (click) = "logout()">Đăng xuất</li>
    </ul>
  </div>
</mat-toolbar>
