<div class=" row " style=" margin: 0px; padding: 0px">
  <div class="col-md-4" style="padding: 1em 1em" *ngFor="let item of data">
    <div class="card-book">
      <div style="padding: 1em 1em 0em 1em">
        <span style="display: flex;justify-content: center;">
          <img src="{{item.book.image | image}}"
            style="width: auto;height: 100%; margin: auto;display: block;">
        </span>
        <h5>{{item.book.name}}</h5>
        <p>Ngày mượn: {{item.requestDate | date}}</p>
        <p>Trạng thái: Đang mượn</p>
      </div>
      <mat-divider></mat-divider>
      <div style="display:flex; justify-content: flex-end;padding: 0.5em 1em">
        <button (click)="openConfirm(item)" mat-stroked-button  color="primary" style="margin-left:0.5em">Trả sách</button></div>
    </div>

  </div>

</div>
