<div class=" row " style=" margin: 0px; padding: 0px">
  <div class="col-md-4" style="padding: 1em 1em" *ngFor="let item of data">
    <div class="card-book">
      <div style="padding: 1em 1em 0em 1em">
        <span style="display: flex;justify-content: center;">
          <img src="{{item.book.image}}" style="width: auto;height: 100%; margin: auto;display: block;">
        </span>
        <h5>{{item.book.name}}</h5>
        <p>Ngày yêu cầu: {{item.requestDate | date }}</p>
        <mat-chip-list style="display: inline;" aria-label="Fish selection">
          <p >Trạng thái:
            <mat-chip  [style.background-color]="status[item.status].color">{{status[item.status].text}}</mat-chip>
          </p>
        </mat-chip-list>
      </div>
      <mat-divider></mat-divider>
      <div style="display:flex; justify-content: flex-end;padding: 0.5em 1em">
        <button (click)="onDelete(item.id)" mat-stroked-button style="color: red;margin-left:0.5em">Hủy yêu cầu</button></div>
    </div>

  </div>

</div>