
<mat-tree style="background-color:#fafafa" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <span [class.active]="isActive == node.index" class="treenode" (click)="viewContent(node.index)"> {{node.text | headingPoc}}</span>
       
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle '">
        <mat-icon class="mat-icon-rtl-mirror" style="color: rgba(0,0,0,0.48)" svgIcon="{{treeControl.isExpanded(node) ? 'menu-down' : 'menu-right'}}">
          
        </mat-icon>
      </button> 
      <span [class.active]="isActive == node.index" class="treenode" (click)="viewContent(node.index)"> {{node.text | headingPoc}}</span>
    </mat-tree-node>
  </mat-tree>