<div mat-dialog-title >
  <h4 style="margin:0 0 8px 0;display: flex;justify-content: center;color: #00796b">Xác nhận</h4>
  <mat-divider></mat-divider>
</div>

<div mat-dialog-content style="min-height: 5em;">
    <div style="margin-bottom: 0.5 em">
        <img src="{{data.item.image | image}}" style="width: auto;height: 100%; margin: auto;display: block;">
    </div>

  <h5 style="color: #00796b; text-align: center">{{content}}</h5>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end;margin-top: 0.5em">
  <button mat-raised-button (click)="onCancel()">Hủy</button>
  <button mat-raised-button (click)="onSubmit()" color="primary">Đồng ý</button>
</div>