<mat-toolbar style="background-color: #FFFFFF;">
  <mat-toolbar-row>
    <div style="display:flex;justify-content: center;width: 100%">
      <span style="color: #128474">LiMS</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<div id='cssmenu'>
  <ul>
    <li>
      <a routerLink="/" title='Home' [class.selected]="onSelected('/')">
        <button mat-icon-button>
          <mat-icon svgIcon="view-dashboard"></mat-icon>
        </button> <span style="margin-left: 2em">Trang chủ</span></a>
    </li>
    <li>
      <a title="Status Personal" routerLink="/status" [class.selected]="onSelected('/status')">
        <button mat-icon-button>
          <mat-icon svgIcon="view-dashboard"></mat-icon>
        </button> <span style="margin-left: 2em">Danh sách yêu cầu</span>
      </a>
    </li>
    <li>
      <a title="History" routerLink="/history" [class.selected]="onSelected('/history')">
        <button mat-icon-button>
          <mat-icon svgIcon="view-dashboard"></mat-icon>
        </button> <span style="margin-left: 2em">Lịch sử mượn sách</span>
      </a>
    </li>
    <li>
      <a title="Request New Book" routerLink="/newBook" [class.selected]="onSelected('/newBook')">
        <button mat-icon-button>
          <mat-icon svgIcon="view-dashboard"></mat-icon>
        </button> <span style="margin-left: 2em">Yêu cầu mua sách mới</span>
      </a>
    </li>
    <li class='has-sub'>
      <a title="Management">
        <button mat-icon-button>
          <mat-icon svgIcon="view-dashboard"></mat-icon>
        </button> <span style="margin-left: 2em">Quản lý</span></a>
      <ul>
        <li>
          <a title="Book" routerLink="/management/book" [class.selected]="onSelected('/management/book')">
            <button mat-icon-button>
              <mat-icon svgIcon="view-dashboard"></mat-icon>
            </button> <span style="margin-left: 2em">Sách</span></a>
        </li>
        <li>
          <a title="Book" routerLink="/management/loan" [class.selected]="onSelected('/management/loan')">
            <button mat-icon-button>
              <mat-icon svgIcon="view-dashboard"></mat-icon>
            </button> <span style="margin-left: 2em">Mượn sách</span></a>
        </li>
        <li>
          <a title="Book" routerLink="/management/newBook" [class.selected]="onSelected('/management/newBook')">
            <button mat-icon-button>
              <mat-icon svgIcon="view-dashboard"></mat-icon>
            </button> <span style="margin-left: 2em">Mua sách mới</span></a>
        </li>
        <li>
          <a title="Statistic" routerLink="/management/statistic" [class.selected]="onSelected('/management/statistic')">
            <button mat-icon-button>
              <mat-icon svgIcon="view-dashboard"></mat-icon>
            </button> <span style="margin-left: 2em">Thống Kê</span></a>
        </li>

      </ul>
    </li>