<mat-toolbar style="background-color: #FFFFFF;">
  <mat-toolbar-row>
    <div style="display:flex;justify-content: center;width: 100%">
      <span style="color: #128474">LiMS</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<div id='cssmenu'>
  <ul>
    <li>
      <a routerLink="" title='Home' [class.selected]="onSelected('/')">
        <button mat-icon-button ><mat-icon svgIcon="view-dashboard"></mat-icon></button> <span style="margin-left: 2em"> Home</span></a>
    </li>
    <li>
      <a title="Program" routerLink="/home" [class.selected]="onSelected('/status')">
        <button mat-icon-button ><mat-icon svgIcon="view-dashboard"></mat-icon></button> <span style="margin-left: 2em">Reserve Book</span>
      </a>
    </li>

    <li class='has-sub'>
      <a title="Management">
          <button mat-icon-button ><mat-icon svgIcon="view-dashboard"></mat-icon></button> <span style="margin-left: 2em">Management</span></a>
      <ul>
        <li>
          <a title="Book" routerLink="/management/book" [class.selected]="onSelected('/management/book')">
            <button mat-icon-button ><mat-icon svgIcon="view-dashboard"></mat-icon></button> <span style="margin-left: 2em">Books</span></a>
        </li>
        <li>
          <a title="Book" routerLink="/management/loan" [class.selected]="onSelected('/management/loan')">
            <button mat-icon-button ><mat-icon svgIcon="view-dashboard"></mat-icon></button> <span style="margin-left: 2em">Loan Book</span></a>
        </li>

      </ul>
    </li>