<div style="display:flex; padding: 20px 0 12px 0px;  align-items: center;">
  <span style="margin-right: 12px;margin-left: 0pt font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0.5px;
  text-align: left;
  color: #004750;
">The Sap Template File</span>
  <span style="flex: 1 1 auto"></span>
  <span style="margin: 6px 12px 0 12px ;font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);">Version:<b>1.0</b></span>
  <span style="margin:6px 12px 0 12px;font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);">Last Modified: <b>Mar 22, 2019</b></span>
  <span style="margin-right: 24px">|</span>
  <button mat-icon-button color="primary">
    <mat-icon svgIcon="pencil-outline"></mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="onSapSave($event)">
    <mat-icon svgIcon="content-save-outline"></mat-icon>
  </button>
  <button  mat-icon-button color="primary">
    <mat-icon svgIcon="upload-outline"></mat-icon>
  </button>
  <button (click)="linkProtocol(true)" mat-icon-button color="primary">
    <mat-icon svgIcon="download-outline"></mat-icon>
  </button>
</div>
<!-- input file -->
<!-- <div id="input-content" class="row" style="display: flex;justify-content:center ;width: 100%; margin-top: 1em" hidden>
  <div id="input-file" class="row" style=" margin-top: 1em">
    <div class="input-group" style="display: none">
      <input type="file" id="imgupload" (change)="onFileSelected($event)" style="display: none" #fileinput />
      <div class="custom-file">
        <input disabled [value]="fileName" type="text" class="form-control">
      </div>
    </div>
  </div>
</div> -->
<div  fxLayout="row">
  <div class="item item-1" fxFlex="24%" style="height: 730px;border: 1px solid #CCCCCC; border-right-style: none; background-color: #FAFAFA; overflow: auto">
    <app-tree (getView)="viewContent($event)" [dataTree]="dataTree"></app-tree>
  </div>
  <div class="item item-2" fxFlex="82%" >
      <div style="width: 100%" >
      <!-- <editor *ngIf="loadEditor"  style="width: 100%" [(ngModel)]="contentNode" apiKey="y51jy5ao1w5vjefxhayulb2xvkobh0thfdz0mpsiz5pktnsf" [init]="tinyConfig"></editor> -->
      <app-editor *ngIf="loadEditor"  [(data)]="contentNode" [tinyConfig]= "tinyConfig" [editable] ="editable" (link)="linkProtocol($event)"> </app-editor>
  </div>
  <!-- <div class="item item-3" style="border: 1px solid #CCCCCC; border-left-style: none; background-color: #FAFAFA; min-width: 32px"></div> -->
</div>