<div mat-dialog-title>
    <h4 style="margin:0 0 8px 0;display: flex;justify-content: center;color: #00796b">Quên mật khẩu</h4>
  </div>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="form">
      <mat-form-field style="width:100%">
        <input  matInput placeholder="Nhập tài khoản đăng nhập hoặc email" formControlName="data">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: flex-end; margin-top:0.5em">
    <button mat-raised-button (click)="onCancel()">Hủy</button>
    <button mat-raised-button (click)="onSubmit()" color="primary" [disabled] = "form.invalid">Gửi</button>
  </div>
  