<div style="margin: 2em 2em " class="mat-elevation-z8">
        <div style="display:flex;align-items: center;background-color: #eeeeee ;padding: 10px 1em 10px 0px">
          <span style="margin-right: 12px;margin-left: 1em; font-family: Roboto;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.19;
          letter-spacing: 0.5px;
          text-align: left;
          color: #004750;">Quản lý danh mục</span>
          <span style="flex: 1 1 auto"></span>
          <button mat-icon-button (click)="openDialog(1,0)" color="primary">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
      
        </div>
        <table mat-table [dataSource]="dataSource" style="width: 100%">
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef> Stt </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
          </ng-container>
         
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên  </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Số lượng sách </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfBooks || 0}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button style="color: #ffd54f" (click)="openDialog(3, element.id)">
                    <mat-icon svgIcon="eye"></mat-icon>
                  </button>
              <button mat-icon-button color="primary" (click)="openDialog(2, element.id)">
                <mat-icon svgIcon="pencil"></mat-icon>
              </button>
              <button mat-icon-button style="color: red" (click)="delele(element.id)">
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
      
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      </div>