<!-- 
    <nav class="row navbar navbar-dark" >
      <div class="container">
        <div class="col-md-6 left"  style="display: flex; justify-content: flex-start;">
          <div class="navbar-brand" style="width: 12em">
            <img src="../../../../assets/ICON_positive_logo.svg" >
          </div>
          <div class="nav-title">
              
              <span>BIOstats-POC</span>
              <a>
                <mat-icon svgIcon="menu-down" class="icon" ></mat-icon>
              </a>
            </div>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: flex-end;">
          <button class="btn"><span style="font-weight: bold; font-size: 14pt; margin-right: 0.5em;">+</span><span>NEW PROJECT</span></button>
        </div>
         
      </div>
  </nav>

 -->
 <mat-toolbar style="background-color: #FFFFFF" class="mat-elevation-z4">
  <mat-toolbar-row>
    <div fxFlex="24%">
      <img mat-card-image src="https://www.iconplc.com/site-files/cms-templates/img/brand-logos/ICON_positive_logo.svg" alt="Logo">
    </div>
    <mat-card-title style="color: #128474">The ICON BIOStats Project</mat-card-title>
    <span style="flex: 1 1 auto"></span>
    <button mat-flat-button color="primary">
      <mat-icon svgIcon="plus"></mat-icon>
      NEW PROJECT</button>
  </mat-toolbar-row>
</mat-toolbar>
