.navbar{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 0.5em 1em;
    margin: 0em;

}
.icon {
    color: #128474;
     font-size: 120%;
     margin: 0em 0.5em;
} 
.btn{
    border-radius: 4px;
background-color: #128474;
color: #ffffff;
}
.left{
    display: flex;
    justify-content: flex-start;
    padding: 0em;

}
.right{
    display: flex;
    justify-content: flex-end;
    padding: 0em;
}
.navbar > div > div >div.nav-title {
    display: flex;
    align-items: center;

}
.navbar > div > div >div.nav-title > span {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #128474;
    margin-left: 1em; 

}