<div style="padding: 1em">
  <mat-toolbar style="display: flex;background-color: #FFFFFF">
    <span>Trang chủ</span>
    <span style="flex: auto"></span>
   
    <span style="margin-left: 0.5em">
      <div class="input-group">
        <input id="inputGroupSelect04" >
        <div class="input-group-append">
            <select  style="font-size: 14px;font-family:Roboto " >
                <option >Tên sách</option>
                <option>Danh mục</option>
                <option>Tác giả</option>
              </select>
          <button class="btn btn-outline-secondary" type="button">
            <mat-icon svgIcon="magnify"></mat-icon>
          </button>
        </div>
      </div>
    </span>

  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class=" row " style=" margin: 0px; padding: 0px">
    <div class="col-md-4" style="padding: 1em 1em;" *ngFor="let item of books">
      <div class="card-book">
        <div style="padding: 1em 1em 0em 1em;">
          <span style="display: flex;justify-content: center;">
            <img src="{{item.image}}" style="width: auto;height: 100%; margin: auto;display: block;">
          </span>
          <h5>{{item.name}}</h5>
          <p>Tác giả: {{item.author}}</p>
        </div>
        <mat-divider></mat-divider>
        <div style="display:flex; justify-content: flex-end;padding: 0.5em 1em">
          <button *ngIf="!item.available" mat-stroked-button color="accent">Đặt trước</button>
          <button *ngIf="item.available" mat-stroked-button color="primary" style="margin-left:0.5em">Mượn sách</button></div>
      </div>

    </div>

  </div>

</div>